*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  position: relative;
  border: 2px solid rgb(233, 232, 232);  
  border-radius: 5px;
}

.App h1{
  width: 100%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;


  
}
.list_container ul li h4{
  border-bottom: 1px solid rgb(233, 232, 232);
}